# http://docs.travis-ci.com/user/languages/go/
language: go

go:
  - "1.12.x"

os:
  - linux

env:
- MYSQL_USER=root
- CURRENT_CI_ENV=travis

addons:
  apt:
    packages:
    - git
    - numactl
    - libaio1

before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test;'

install: true

script:
  - script/cibuild

notifications:
  email: false
