# http://docs.travis-ci.com/user/languages/go/
language: go

go: 1.9

os:
  - linux

env:
- MYSQL_USER=root

before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test;'

install: true

script: script/cibuild

notifications:
  email: false
