name: CI

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Build
      run: script/cibuild

    - name: Upload gh-ost binary artifact
      uses: actions/upload-artifact@v4
      with:
        name: gh-ost
        path: bin/gh-ost
