name: migration tests

on: [pull_request]

jobs:
  docker-tests:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        image: ['mysql/mysql-server:5.7.41','mysql:8.0.41','mysql:8.4.3','percona/percona-server:8.0.41-32']
    env:
      TEST_MYSQL_IMAGE: ${{ matrix.image }}

    steps:
      - uses: actions/checkout@v4

      - name: Install sysbench
        run: |
          sudo apt-get update
          sudo apt-get install -y sysbench

      - name: Setup environment
        run: script/docker-gh-ost-replica-tests up

      - name: Run tests
        run: script/docker-gh-ost-replica-tests run

      - name: Teardown environment
        if: always()
        run: script/docker-gh-ost-replica-tests down
